# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Arquivos temporários de edição
*.swp
*.swo
*.bak
*.tmp

# Ambiente virtual
venv/
env/

# Arquivos de configuração locais
*.log
*.DS_Store
*.egg-info/

